@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["AboutNav"] = Localizer["About"];
    ViewData["ContactNav"] = Localizer["Contact"];
    ViewData["FilesNav"] = Localizer["View files"];
    ViewData["Menu"] = Localizer["Menu"];
}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Train Station</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            @ViewData["Menu"]
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">@ViewData["AboutNav"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#signup">@ViewData["ContactNav"]</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Files" asp-action="Index">@ViewData["FilesNav"]</a></li>
                <li class="nav-item">
                    @await Html.PartialAsync("_LanguagePartial")
                </li>
            </ul>
        </div>
    </div>
</nav>
