@using Microsoft.AspNetCore.Mvc.Localization
@model TrainStation.Models.FileNamesListModel

@inject IViewLocalizer Localizer
@{
    ViewData["Upload"] = Localizer["Upload"];
}

<div class="container p-4">
    <div class="card p-4">
        <ul>
            @foreach (string filelistitem in Model.FileNames)
            {
                <li class="row">
                    <div class="col-6">
                        <a class="text" href="Files/ViewFile?fileName=@filelistitem">@filelistitem</a>
                    </div>
                </li>
            }
        </ul>
        <a class="btn" asp-controller="Files" asp-action="Upload">@ViewData["Upload"]</a>
    </div>
</div>
