@model TrainStation.Models.FileNamesListModel
@{
    ViewData["Title"] = "Files view";
}
<div class="container p-4">
    <div class="card p-4">
        <ul>
            @foreach (string filelistitem in Model.FileNames)
            {
                <li class="row">
                    <div class="col-6">
                        <a class="text" href="Files/ViewFile?fileName=@filelistitem">@filelistitem</a>
                    </div>
                </li>
            }
        </ul>
        <a class="btn" asp-controller="Files" asp-action="Upload">Upload</a>
    </div>
</div>
